/*styles.css */
div {
    color: black;
    font-size: 22px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 35%;
    display: inline-block;
}
p   {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    margin-left:35%;
    padding: 10px;
    border: 10px blue;
    height: 50px;
    width: 400px;
    color: white;
    text-align: center;
    font-size: 32px;
    background-color: red;
    
}
button {
    background-color: orange;
}
